<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do list</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../assets/icon/icon.png">
    <script src="../scripts/main.js" defer></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div class="inputContainer">
            <input type="text" placeholder="New task" autocomplete="off"><i class='bx bxs-edit-alt' undefined></i>
            <button>Send</button>
        </div>
    </div>

    <div class="outputContainer">
        <div class="tasks active">
            <p>Realizar tarea de info<i class='bx bxs-x-circle'></i></p>
        </div>
    </div>
</body>
</html>